@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --wh: #fff;
    --brown: #0b1926;
    --blight:#00eaff;
    --bdark:#014ba0;
    --black: #000000;
}

body{
    font-family: 'Amatic SC', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 3px;
}

a{
    font-weight: 400;
    text-transform: uppercase;
    color: var(--brown);
    text-decoration: none;
}

a:hover{
    color: var(--blight);
}

section img{
    width: 100%;
}

p{
    font-size: 900;
    font-weight: 900;
}
section{
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: var(--brown);
}

#hero{
    background-image: url("../img/fondherotrasl.svg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

#hero h1{
    font-weight: 600;
    letter-spacing: 2px;

}
.overlay{
    position: relative;
    z-index: 2;
}

.overlay::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bdark);
    z-index: -1;
    opacity: 0.4;
}

.btn{
    padding: 1rem 2rem;
    font-style: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-primary{
    background-color: var(--blight);
    border-color: var(--blight);
    border-radius: 100px;
    overflow: hidden;
    transition: .25s;
    color: #fff;
    box-shadow: 0 0 5px var(--blight), 0 0 25px var(--blight), 0 0 50px var(--blight), 0 0 100px var(--blight), 0 0 200px var(--blight);
}

.btn-primary:hover{
    background-color: var(--blight);
    border-color: var(--blight);
    border-radius: 110px;
    box-shadow: 0 0 20px var(--blight), 0 0 100px var(--blight), 0 0 200px var(--blight), 0 0 400px var(--blight);
}


.navbar{
    transition: all 0.4s ease;
}

.navbar-dark .navbar-nav .nav-link{
    color: var(--wh);
    font-size: large;
}

.navbar-dark .navbar-nav .nav-link.active{
    color: var(--blight);
    font-size: larger;
}

.intro{
    margin-bottom: 3.125rem;
}

.intro .divider{
    background-color: var(--blight);
    height: .125rem;
    width: 7.5rem;
    margin: 1.5rem auto;
}

.icon-box{
    width: 5rem;
    height: 5rem;
    background-color: var(--blight);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin: 0 auto 1.5rem auto;
    color: var(--wh);
    flex: none;
}

.icon-box i{
    font-size: 2rem;

}

#milestone{
    background-image: url("../img/fondherotrasl.svg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
}

.counter .number{
    line-height: 0.5;
    font-size: 2.5rem;
}

.counter .divider{
    width: 2.5rem;
    height: .125rem;
    background-color: var(--blight);
    margin: 1rem auto;
}

.project{
    position: relative;
    overflow: hidden;
}

.project-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,var(--bdark),var(--blight));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    color: var(--wh);
    text-align: center;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease;
}

.project:hover .project-info{
    opacity: 1;
    transform: scale(1);
}

.service-box {
    display: flex;
}

#reviews {
    background-image: url("../img/fondherotrasl.svg");
    background-position: center;
    background-size: cover;
    z-index: 2;
}

.review{
    max-width: 50rem;
    margin: auto;
}

.review .quote{
    font-size: 2rem;
    color: var(--bdark);
}

#cta{
    background-image: url("../img/fondherotrasl.svg");
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
    opacity: 0.8;
}

footer a {
    color: var(--wh);
    margin-left: .5rem;
}

.btn-whatsapp i {
    margin-right: .5rem;
    font-size: 1.25rem;
}

#cta h2 {
    margin-right: 0.1rem;
    color: var(--black);
}

#cta .btn-whatsapp {
    margin-top: 0.5rem;
}

.floating-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 9999;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.share-button {
    width: 9rem;
    height: 5.25rem;
    background: var(--blight);
    color: var(--wh);
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    transition: .33 linear;
}

.share-button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px var(--blight), 0 0 50px var(--blight), 0 0 100px var(--blight), 0 0 200px var(--blight);
    width: 5rem;
    height: 12.25rem;
    transition: 0.5s ease-in-out;
}

.share-button span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--blight);
    text-align: center;
    line-height: 5rem;
    z-index: 999;
    transition: .43 linear;
    border-radius: 12px;
    font-size: 1.4rem;
    font-weight: 600;
}

.share-button:hover span {
    transform: translateX(-100%);
    transition-delay: 0.3s;
    opacity: 0;
}

.share-button a {
    flex: 1;
    font-size: 2.5rem;
    text-align: center;
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.3s linear;
    color: var(--wh);
}

.share-button:hover a {
    opacity: 1;
    transform: translateX(0);
    
}

.share-button a:nth-of-type(1){
    transition-delay: 0.3s;
}
.share-button a:nth-of-type(2){
    transition-delay: 0.3s;
}
.share-button a:nth-of-type(3){
    transition-delay: 0.3s;
}

.plarge{
    font-size: larger;
    font-weight: 700;
}
